<eg-layout>
    <eg-sidebar [openStatus]="showSidenav$ | async"
                (toggleSidenav)="toggleSidenav($event)">
    <!--    <eg-nav-item (activate)="closeSidenav()" routerLink="/" icon="book" hint="View your book collection">-->
            <!--My Collection-->
        <!--</eg-nav-item>-->
        <!--<eg-nav-item (activate)="closeSidenav()" routerLink="/book/find" icon="search" hint="Find your next book!">-->
            <!--Browse Books-->
        <!--</eg-nav-item>-->
        Hello
    </eg-sidebar>
    <!--<router-outlet></router-outlet>-->
</eg-layout>
